# Dies ist eine Chef generierte Datei. Manuelle Änderungen gehen u.U. verloren!

<% @ntp_server.each do |ntpsrv| -%>
server <%= ntpsrv %>
<% end # of @ntp_server.each do |ntpsrv| -%>

<% @fudges.each do |fudge| -%>
fudge <%= fudge %>
<% end # of @fudges.each do |fudge| -%>

driftfile /var/lib/ntp/ntp.drift

keys /etc/ntp/keys

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html for
# details.  The web page <http://support.ntp.org/bin/view/Support/AccessRestrictions>
# might also be helpful.
#
# Note that "restrict" applies to both servers and clients, so a configuration
# that might be intended to block requests from certain clients could also end
# up blocking replies from your own upstream servers.

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1
restrict -6 ::1

# Needed for adding pool entries
restrict source notrap nomodify noquery

# EOF
