# Dies ist eine Chef generierte Datei. Manuelle Änderungen gehen u.U. verloren!

<% if @sources[:proxy][:http].empty? -%>
#Acquire::http::Proxy "http://192.168.177.23:8080";
<% else -%>
Acquire::http::Proxy "<%= @sources[:proxy][:http] -%>";
<% end # of if @sources[:proxy][:http].empty? -%>

<% if @sources[:proxy][:https].empty? -%>
#Acquire::https::Proxy "http://192.168.177.23:8080";
<% else -%>
Acquire::https::Proxy "<%= @sources[:proxy][:https] -%>";
<% end # of if @sources[:proxy][:https].empty? -%>

<% if @sources[:proxy][:no].empty? -%>
#Acquire::http::Proxy::repo.internal.local DIRECT;
<% else -%>
<%    @sources[:proxy][:no].each do |adr| -%>
Acquire::http::Proxy::<%= adr %> DIRECT;
<%    end # of @sources[:proxy][:no].each do |adr| -%>
<% end # of if @sources[:proxy][:no].empty? -%>

# EOF

