# Dies ist eine Chef generierte Datei. Manuelle Änderungen gehen u.U. verloren!

# $FreeBSD: releng/10.1/etc/syslog.conf 260519 2014-01-10 17:56:23Z asomers $
#
#    Spaces ARE valid field separators in this file. However,
#    other *nix-like systems still insist on using tabs as field
#    separators. If you are sharing this file between systems, you
#    may want to use only tabs as field separators here.
#    Consult the syslog.conf(5) manpage.
*.err;kern.warning;auth.notice;mail.crit                          /dev/console
*.notice;authpriv.none;kern.debug;lpr.info;mail.crit;news.err     /var/log/messages
security.*                                                        /var/log/security
auth.info;authpriv.info                                           /var/log/auth.log
mail.info                                                         /var/log/maillog
lpr.info                                                          /var/log/lpd-errs
ftp.info                                                          /var/log/xferlog
cron.*                                                            /var/log/cron
!-devd
*.=debug                                                          /var/log/debug.log
*.emerg                                                           *

# uncomment this to log all writes to /dev/console to /var/log/console.log
# touch /var/log/console.log and chmod it to mode 600 before it will work
#console.info                    /var/log/console.log

# uncomment this to enable logging of all log messages to /var/log/all.log
# touch /var/log/all.log and chmod it to mode 600 before it will work
#*.*                        /var/log/all.log

# uncomment this to enable logging to a remote loghost named loghost
#*.*                        @loghost

# uncomment these if you're running inn
# news.crit                    /var/log/news/news.crit
# news.err                    /var/log/news/news.err
# news.notice                    /var/log/news/news.notice
# Uncomment this if you wish to see messages produced by devd
# !devd
# *.>=notice                    /var/log/devd.log
!ppp
*.*                                                               /var/log/ppp.log
!*
*.*                                                               @<%= @syslogserver %>

# EOF
